.medical-question-form {
  background: #dadada;
  color: #dadada;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #0c0c0c;
  padding: 10px;

  .medical-question-input {
    width: 100%;
    background: #565656;
    color: #000;
  }
}
